@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: cyberpunk, cupcake, dark, nord, corporate;
}

@layer base {
  html{
    scroll-behavior: smooth;
  }
  body {
    @apply bg-base-100 text-base-content min-h-screen relative;
    
    background-image: 
      linear-gradient(to right, rgb(0, 80, 80) 1px, transparent 1px), 
      linear-gradient(to bottom,rgb(1, 80, 80) 1px, transparent 1px);
    background-size: 40px 40px;
    background-attachment: fixed;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at center, transparent 0%, var(--fallback-b1,oklch(var(--b1))) 100%);
    pointer-events: none;
    z-index: -1;
  }
}